# Update ownership if repository maintainers change.

* @Juhwa-Lee1023
/.github/ @Juhwa-Lee1023
/docs/ @Juhwa-Lee1023
/scripts/ @Juhwa-Lee1023
/Sources/ @Juhwa-Lee1023
/Tests/ @Juhwa-Lee1023
/Apps/ @Juhwa-Lee1023
